.sort-filter #sort-blogs, .sort-filter #filter-blogs {
  height: initial;
  border: 1px solid #D0D0D0;
  border-radius: 8px;
  padding: 4px;
  color: var(--text-color);
}

#sort-blogs option {
  background-color: var(--body-background-color);
  color: var(--text-color);
}

.sort-filter {
  display: inline-flex;
  gap: 16px;
  margin-bottom: 16px;
}

.sort-filter div {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sort-filter label {
  white-space: nowrap;
  margin-right: 8px;
}

.sort-filter #filter-blogs {
  width: 100%;
}

.blog-posts-container a:hover {
  text-decoration: none;
}

.blog-posts-container .loader {
  margin-top: 72px;
}

.blog-posts-element {
  display: flex;
  gap: var(--gutter-m-16);
  margin: 32px 0;
}

.blog-posts-element div img {
  object-fit: cover;
  height: 100%;
  width: 134px;
}

.blog-posts-element div:last-of-type {
  position: relative;
  width: 100%;
}

.blog-posts-element div h2 {
  font-size: 1.125rem;
  margin: 0;
  color: var(--text-color);
}

.blog-posts-element p {
  display: none;
  color: var(--text-color);
}

.button-transparent {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.button-transparent:hover {
  color: var(--body-background-color);
  background-color: var(--brand-links-color);
}

.view-more-btn {
  margin: 72px 0;
}

@media screen and (min-width: 767px) {
  .sort-filter {
    margin-bottom: 40px;
  }

  .blog-posts-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
  }

  .blog-posts-container .loader {
    margin: 0 100%;
    position: relative;
    left: 50%;
    top: 24px;
  }

  .blog-posts-element {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .blog-posts-element div img {
    width: 100%;
    display: block;
  }

  .blog-posts-element div h2 {
    font-size: 1.5rem;
  }

  .blog-posts-element p {
    display: block;
    font-weight: 400;
  }

  .blog-posts-element div button {
    position: static;
  }

  .view-more-btn {
    margin: 72px auto;
    width: 200px;
  }
}
