form {
  padding: 32px;
  margin-bottom: 48px;
  box-shadow: 0 0 12px -5px var(--text-color);
  border-radius: 16px;
}

form > div {
  position: relative;
  margin-bottom: 32px;
}

.contact form h1 {
  text-align: center;
  margin: 0 0 48px 0;
}

form label {
  display: block;
  padding-bottom: 8px;
}

form textarea {
  height: 160px;
  padding-top: 8px;
}

form input[type=text], form textarea {
  border: 1px solid #D0D0D0;
  padding-right: 40px;
}

.contact form i {
  position: absolute;
  right: 8px;
  top: 40px;
  font-size: 16px;
  color: #07994b;
  visibility: hidden;
}

.contact .show-checkmark {
  visibility: visible;
}

.input-error {
  margin: 16px 0;
  color: #e6382c;
}

.contact .input-error-border {
  border: 1px solid #e6382c;
}

.form-success {
  display: none;
  background-color: #dff0d8;
  color: #5c975c;
  font-size: 1em;
  margin: 32px 0 0 0;
  padding: 16px;
  border: 2px solid #5c975c;
  border-radius: 8px;
  text-align: center;
}

.contact-image {
  background-image: url("/img/contact.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  border-radius: 16px;
  padding: 32px;
  margin-bottom: 48px;
}

.contact-image h2 {
  text-align: center;
  color: var(--brand-links-color);
  font-size: 2.5rem;
  font-style: italic;
  margin: 0;
}

@media screen and (min-width: 767px) {
  .contact-main {
    display: flex;
    gap: 32px;
  }

  .contact-form, .contact-image {
    max-width: 488px;
    width: 100%;
    height: inherit;
  }
}
