h1.heading-1 {
  margin-bottom: 0;
}

.blog-author-date {
  margin: 8px 0 32px 0;
  font-weight: 200;
}

.single-blog {
  margin-bottom: 32px;
}

.single-blog-content p:first-of-type {
  margin-top: 32px;
}

.single-blog-img .featured-img {
  position: relative;
}

.modal .container {
  position: relative;
  z-index: 5;
}

.modal {
  position: fixed;
  z-index: 4;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 120px;
  background-color: rgba(0, 0, 0, 0.84);
  opacity: 0;
  visibility: hidden;
  transition: all .1s linear;
}

.modal-img {
  margin: auto;
  display: block;
  max-width: 600px;
}

.close-modal-btn {
  position: absolute;
  top: -64px;
  right: 0;
  color: var(--body-background-color);
  font-size: 48px;
  cursor: pointer;
}

.close-modal-btn:hover {
  color: gray;
}

.blog-img, .close-modal-btn {
  cursor: pointer;
}

.show-modal {
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 767px) {
  .single-blog-container {
    display: flex;
    flex-flow: row-reverse;
    gap: 32px;
  }

  .single-blog-content {
    flex: 1.5;
  }

  .single-blog-img {
    flex: 1;
  }

  .single-blog-content p:first-of-type {
    margin-top: 0;
  }

  .single-blog-container .blog-img {
    display: block;
  }

  .single-blog-img .featured-img:before {
    content: "\f424";
    font-family: 'FontAwesome', sans-serif;
    font-size: 16px;
    padding: 4px;
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--body-background-color);
    background-color: #404040;
    border-radius: 4px;
    pointer-events: none;
  }
}
