:root {
  --font-family-headings: 'Lato', sans-serif;
  --font-family-paragraphs: 'Archivo', sans-serif;
  --text-color: #343434;
  --body-background-color: #FAF9F6;
  --brand-links-color: #D95323;
  --brand-color-light: #F2865E;
  --gutter-sm-8: 8px;
  --gutter-m-16: 16px;
  --gutter-m-32: 32px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background-color);
  color: var(--text-color);
  font-family: var(--font-family-paragraphs);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-headings);
  margin: 24px 0;
}

a {
  text-decoration: none;
  color: var(--brand-links-color);
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

p {
  line-height: 24px;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  max-width: 360px;
  margin: 0 auto;
}

.breadcrumb ul, .heading-1 {
  margin: 48px 0;
}

.breadcrumb ul li {
  display: inline-block;
}

.breadcrumb ul li a {
  font-weight: 400;
}

.breadcrumb ul li:not(:last-child):after {
  content: "/";
  padding-left: 4px;
}

img {
  border-radius: var(--gutter-m-16);
}

.button {
  background-color: var(--brand-links-color);
  height: 40px;
  border: none;
  border-radius: 8px;
  color: var(--body-background-color);
  cursor: pointer;
}

.button-transparent {
  background-color: transparent;
  color: var(--brand-links-color);
  border: 1px solid var(--brand-links-color);
  transition: all .2s ease-in-out;
}

.header-navigation {
  height: 64px;
}

.header-navigation .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

header .logo {
  max-width: 168px;
  padding: var(--gutter-sm-8) 0 var(--gutter-m-16) 0;
}

header .hamburger-menu {
  position: relative;
  font-size: 24px;
  color: var(--brand-links-color);
  padding: 20px 0;
  cursor: pointer;
}

.navigation {
  padding: 24px 0;
  position: absolute;
  z-index: 1;
  top: 64px;
  width: 100%;
  opacity: 0;
  box-shadow: 0 4px 5px -6px #353935;
  background-color: var(--body-background-color);
  transform: translateX(-500px);
  transition: all .3s ease-out;
}

.navigation .container {
  display: flex;
  flex-direction: column;
  background-color: var(--body-background-color);
}

.show-menu {
  transform: translateX(0);
  opacity: 1;
}

.navigation a {
  border-bottom: 1px solid #f2d0c4a1;
  padding: 16px 0;
}

.navigation button {
  margin-top: 24px;
}

.hero-banner-mobile img {
  width: 100%;
  border-radius: 0;
}

input[type=text], textarea {
  height: 40px;
  border-radius: 8px;
  border: none;
  text-indent: 8px;
}

.newsletter form {
  background-color: var(--brand-color-light);
  padding: 24px;
  border-radius: 16px;
  border: none;
  display: flex;
  gap: 16px;
}

.newsletter label, .newsletter label input, .contact input, .contact textarea {
  width: 100%;
}

.newsletter input:nth-child(2) {
  min-width: 80px;
}

.latest-blog-posts {
  padding: 48px 0;
}

.fa-angle-left, .fa-angle-right {
  display: none;
}

.posts {
  display: flex;
  gap: 32px;
  overflow: auto;
}

.single-blog-link:hover {
  text-decoration: none;
}

.single-blog-link:hover .button-transparent {
  color: var(--body-background-color);
  background-color: var(--brand-links-color);
}

.post-element {
  min-width: 176px;
  min-height: 272px;
  position: relative;
}

.post-element h3 {
  font-size: 1.125rem;
  color: var(--text-color);
}

.post-element button {
  position: absolute;
  bottom: 8px;
}

.post-element button, .post-element img, .donate button, .img-width-100 {
  width: 100%;
}

.donate {
  position: relative;
  background-image: url("/img/pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px 0;
  color: var(--body-background-color);
}

.donate:after {
  position: absolute;
  top: 0;
  z-index: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--brand-links-color);
  opacity: .35;
}

.donate div {
  position: relative;
  z-index: 2;
}

.donate h2 {
  margin-top: 0;
}

.footer-content > div {
  padding-top: 16px;
}

footer ul li, footer a, .footer-about p:nth-child(2) {
  font-weight: 100;
}

footer a {
  color: #343434;
  font-weight: 100;
}

footer ul li {
  padding: var(--gutter-sm-8) 0;
}

.edu-paragraph {
  text-align: center;
  padding-top: 48px;
  font-size: 0.9rem;
  font-weight: 600;
}

.loader {
  margin: 0 auto;
  max-width: 64px;
  width: 64px;
  height: 64px;
  border: 8px solid #c0c0c0;
  border-top: 8px solid var(--brand-links-color);
  border-radius: 50%;
  animation: spin .7s linear infinite;
  padding: 8px;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-msg {
  width: 100%;
  padding: 24px;
  margin-bottom: 32px;
  background-color: #f6dcdd;
  color: #c9646a;
  border-radius: var(--gutter-sm-8);
}

.error-msg strong:first-of-type {
  display: block;
  padding-bottom: 8px;
}

@media screen and (min-width: 767px) {
  .container, .header-navigation {
    max-width: 1008px
  }

  .header-navigation {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .hamburger-menu, .hero-banner-mobile {
    display: none;
  }

  .navigation {
    display: inline-flex;
    transform: translateX(0);
    opacity: 1;
    width: auto;
    position: static;
    padding: 0;
    box-shadow: none;
  }

  .navigation .container {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .navigation .container a {
    border: none;
  }

  .navigation button {
    margin: 0;
    min-width: 80px;
  }

  .hero-banner {
    background-image: url("/img/hero-banner-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
  }

  .hero-banner .container {
    position: relative;
  }

  .container .hero-text {
    color: var(--body-background-color);
    position: absolute;
    top: 280px;
    z-index: 2;
    padding: 32px;
  }

  .hero-text p:last-of-type {
    max-width: 352px;
  }

  .hero-text:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #023020;
    opacity: .8;
    border-radius: 16px;
  }

  .hero-text h1 {
    margin-top: 0;
  }

  .latest-blog-posts h2 {
    text-align: center;
    margin-bottom: 56px;
  }

  .latest-blog-posts .container {
    position: relative;
    min-height: 328px;
  }

  .fa-angle-left, .fa-angle-right {
    display: initial;
    position: absolute;
    bottom: 144px;
    font-size: 48px;
    background-color: var(--body-background-color);
    border-radius: 50%;
    padding: 8px 16px;
    color: var(--brand-links-color);
    cursor: pointer;
    z-index: 1;
  }

  .fa-angle-right {
    right: 0;
  }

  .posts {
    overflow: hidden;
    scroll-behavior: smooth;
    max-width: 800px;
    margin: 0 auto;
  }

  .donate .container {
    max-width: 360px;
  }

  .donate:after {
    opacity: .2;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
  }

  .footer-about p:nth-child(2) {
    max-width: 272px;
  }

  .error-msg {
    width: fit-content;
    margin: 0 auto 32px auto;
  }
}
